:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Montserrat", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.page-header h1 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.page-header {
    padding-block: 41px;
    background-color: #ffffff;
}

.container {
    margin-inline: auto;
    width: 1242px;
}

.nav-bar {
    display: inline-block;
    /* margin-inline: 50px; */
    width: 1243px;
}

.page-header-brand {
    margin: 0;
}

.page-header-logo {
    display: block;
}

.page-header-logo-img {
    display: block;
    width: 99px;
    height: 60px;
}

.header-menu {
    display: inline-block;
    padding-inline-start: 0;
    vertical-align: middle;
    margin: 0;
    list-style: none;
    text-align: center;
}

.header-menu-item {
    display: inline-block;
    margin-inline: 16px;
}

.header-menu-link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.header-menu-item_1 {
    margin-inline: 71px 130px;
}

.header-menu-link_1 {
    text-decoration: underline;
    text-decoration-color: #c4161c;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.header-menu-item_2 {
    margin-inline: 200px 33px;
}

.header-menu-item_3 {
    padding-inline-start: 32px;
    border-inline-start: 2px solid #dad8d8;
}

.main {
    margin-top: 80px;
}

.hero {
    display: flex;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-list {
    display: flex;
    list-style: none;
    width: 237px;
    gap: 18px;
    margin: 0;
    border-bottom: 1px solid #dad8d8;
    padding: 0 0 8px;
}

.hero-menu-item {
    display: flex;
}

.hero-menu-link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: rgba(214, 212, 212, 0.88);
    text-decoration: none;
}

.hero-menu-link_1 {
    color: #b00000;
    border-bottom: 1px solid #c4161c;
    margin-bottom: -8px;
}

.hero-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 121%;
    color: #2e2e2e;
    width: 680px;
    margin-block: 26px 0;
}

.hero-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    color: #808080;
    width: 454px;
    margin-block: 34px 60px;
}

.btn {
    border-radius: 8px;
    padding: 12px;
    width: 166px;
    height: 48px;
}

.btn-red {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
    background: #b00000;
    margin-inline-end: 24px;
}

.btn-white {
    border: 1px solid #000;
    padding: 12px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #000;
}

.hero-img {
    width: 519px;
    height: 504px;
}

.benefits {
    padding-top: 79px;
}

.benefits-top {
    display: flex;
    justify-content: space-between;
}

.benefits-intro {
    width: 601px;
}

.benefits-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 45px;
    line-height: 133%;
    color: #18191f;
}

.benefits-intro-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #18191f;
}

.benefits-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 38px;
    width: 601px;
}

.benefits-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    gap: 34.5px;
}

.benefits-list-item {
    width: 259px;
    position: relative;
    padding-top: 100px; 
}

/* .list-uptime {
    position: relative;
    padding-top: 100px; 
} */

.list-uptime::before {
    content: "";
    position: absolute;
    left: 30%;
    top: 25%;
    transform: translateY(-50%);
    width: 103px;
    height: 100px;
    background-image: url('../img/icn1_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.list-ups::before {
    content: "";
    position: absolute;
    left: 30%;
    top: 25%;
    transform: translateY(-50%);
    width: 103px;
    height: 100px;
    background-image: url('../img/frame_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.list-ssl::before {
    content: "";
    position: absolute;
    left: 30%;
    top: 25%;
    transform: translateY(-50%);
    width: 103px;
    height: 100px;
    background-image: url('../img/icn4_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.list-support::before {
    content: "";
    position: absolute;
    left: 30%;
    top: 25%;
    transform: translateY(-50%);
    width: 103px;
    height: 100px;
    background-image: url('../img/icn1_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.benefits-list-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-align: center;
}

.benefits-list-description {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #000;
}
