:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Manrope", sans-serif;
    --font3: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* .page-header h1 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
} */

.page-header {
    padding-block: 41px;
    background-color: #ffffff;
}

.container {
    margin-inline: auto;
    max-width: 1242px;
    width: 100%;
}

.nav-bar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 1242px; */
    gap: 24px;
}

/* .page-header-brand {
    margin: 0;
} */

.page-header-logo {
    margin: 0;
    /* display: block; */
}

.page-header-logo-img {
    /* display: block; */
    width: 99px;
    height: 60px;
    display: flex;
    flex: 0 0 auto;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: flex-start;
    flex: 1 1 auto;
    min-width: 0;
    /* padding-inline-start: 0;
    vertical-align: middle;
    margin: 0; */
    list-style: none;
    /* text-align: center; */
}

.header-menu-item {
    display: block;
    /* display: inline-block;
    margin-inline: 16px; */
}

.header-menu-link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.header-menu-item_1 {
    margin-inline: 71px 130px;
}

.header-menu-link_1 {
    text-decoration: underline;
    text-decoration-color: #c4161c;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.header-menu-item_2 {
    /* margin-inline: 200px 33px; */
    margin-left: auto;
    position: relative;
}

.header-menu-item_3 {
    padding-inline-start: 32px;
    border-inline-start: 2px solid #dad8d8;
}

.main {
    margin-top: 80px;
}

.hero {
    display: flex;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-list {
    display: flex;
    list-style: none;
    width: 237px;
    gap: 18px;
    margin: 0;
    border-bottom: 1px solid #dad8d8;
    padding: 0 0 8px;
}

.hero-menu-item {
    display: flex;
}

.hero-menu-link {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 15px;
    color: rgba(214, 212, 212, 0.88);
    text-decoration: none;
}

.hero-menu-link_1 {
    color: #b00000;
    border-bottom: 1px solid #c4161c;
    margin-bottom: -8px;
}

.hero-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 121%;
    color: #2e2e2e;
    width: 680px;
    margin-block: 26px 0;
}

.hero-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    color: #808080;
    width: 454px;
    margin-block: 34px 60px;
}

.btn {
    border-radius: 8px;
    padding: 12px;
    width: 166px;
}

.btn-red {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #fff;
    background: #b00000;
    margin-inline-end: 24px;
}

.btn-white {
    border: 1px solid #000;
    padding: 12px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #000;
}

.hero-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.benefits {
    padding-top: 79px;
}

.benefits-top {
    display: flex;
    justify-content: space-between;
}

.benefits-intro {
    width: 601px;
}

.benefits-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 45px;
    line-height: 133%;
    color: #18191f;
}

.benefits-intro-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #18191f;
}

.benefits-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 38px;
    width: 601px;
}

.benefits-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    gap: 34.5px;
}

.benefits-list-item {
    width: 259px;
    position: relative;
    padding-top: 100px;
}

.benefits-list-item::before {
    content: "";
    position: absolute;
    left: 30%;
    top: 25%;
    transform: translateY(-50%);
    width: 103px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.list-uptime::before {
    background-image: url('../img/icn1_1.png');
}

.list-ups::before {
    background-image: url('../img/frame_1.png');
}

.list-ssl::before {
    background-image: url('../img/icn4_1.png');
}

.list-support::before {
    background-image: url('../img/icn1_1.png');
}

.benefits-list-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-align: center;
}

.benefits-list-description {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #000;
}

.footer {
    padding-block: 80px;
    background: #b00000;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "item1 item2"
        "item3 item3";
    gap: 104px 120px;
    padding-right: 0;
}

.footer-brand {
    grid-area: item1;
}

.footer-brand-logo {
    padding-bottom: 16px;
}

.footer-brand-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #e6e6e6;
}

.footer-nav {
    grid-area: item2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-nav-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer-nav-list {
    list-style: none;
    padding: 0;
}

.footer-nav-list-item {
    padding-block: 12px;
}

.footer-nav-list-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #e6e6e6;
}

.footer-copy {
    grid-area: item3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
}

.price {
    margin-block-start: 133px;
    margin-block-end: 105px;
}

.price-container {
    width: 1097px;
    margin-inline: auto;
}

.price-header {
    width: 856px;
    margin-inline: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-header-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #000;
    margin: 0;
}

.price-header-description {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    color: #000;
    margin-block-start: 38px;
    margin-block-end: 57px;
}

.price-billing-toggle {
    display: flex;
    align-items: center;
    gap: 16px;
}

.price-billing-label {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    text-align: center;
    color: #000;
}

.price-switch {
    position: relative;
    display: inline-block;
    border-radius: 73px;
    width: 93px;
    height: 50px;
    background: #b00000;
}

.price-switch input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.price-billing-knob {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 50%;
    transition: left 0.2s ease;
    transform: translate(25%, 25%);
}

.price-discount-badge {
    border-radius: 8px;
    width: 87px;
    padding: 7px;
    background: #ffe87a;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 10px;
    line-height: 90%;
    text-align: center;
    color: #000;
}

.plan-tabs {
    position: relative;
    padding-bottom: 8px;
    margin-block-start: 85px;
}

.plan-tab {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 133%;
    text-align: center;
    color: #000;
    margin-inline: 150px;
}

.plan-tabs::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(to right, #c4161c 0 50%, #dad8d8 50% 100%);
}

.price-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-block-start: 85px;
}

.price-list-item {
    border: 1.50px solid #c4c4c4;
    border-radius: 15px;
    padding-inline: 31px;
    padding-block-end: 48px;
}

.price-list-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 89%;
    text-align: center;
    color: #000;
}

.price-list-description {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000;
}

.plan-price {
    margin-block: 28px 35px;
}

.price-amount {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 42px;
    line-height: 76%;
    color: #000;
}

.price-period {
    display: block;
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #000;
}

.btn-price-list {
    display: inline-block;
    border: 2px solid #000;
    border-radius: 12px;
    width: 235px;
    padding-inline: 58px;
    padding-block: 9px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 229%;
    text-align: center;
    color: #000;
}

.price-list-description {
    margin-top: 35px;
    list-style: none;
    padding: 0;
}

.price-header-description-item {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #808080;
    margin-block-start: 15px;
}

.price-header-description-item::before {
    content: '✓';
    display: inline-block;
    margin-right: 24px;
    color: #000;
}

.testimonials-grid {
    position: relative;
    padding-inline: 64px 164px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 30px;
    padding-block-end: 84px;
}

.testimonials-grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 14px;
    width: 143px;
    height: 120px;
    background: url("../img/quote_mark.png") no-repeat center / contain;
    z-index: 0;
}

.testimonials-flex__col {
    display: flex;
    flex-direction: column;
}

.testimonials-flex__col--left {
    align-items: flex-end;
    gap: 24px;
    margin-block-start: 56px;
}

.testimonials-intro {
    max-width: 445px;
    width: 100%;
}

.testimonials-title {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 43px;
    line-height: 133%;
    color: #18191f;
}

.testimonials-subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #18191f;
}

.testimonial-card {
    max-width: 350px;
    width: 100%;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0 10px 20px 0 rgba(41, 41, 42, 0.07);
    background: #fff;
}

.testimonial-card--featured {
    padding-block-end: 80px;
}

.testimonial-card__logo {
    padding-inline-start: 32px;
}

.testimonial-card__content {
    position: relative;
    padding-inline-start: 32px;
}



.testimonial-card__content::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    top: 0;
    left: 0;
    background: url("../img/quote_mark_1.png") no-repeat center / contain;
}

.testimonial-card__quote {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000;
}

.testimonial-card__author {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 156%;
    color: #18191f;
    margin: 0;
    margin-block-start: 24px;
}

.testimonial-card__role {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #969bab;
    margin: 0;
}

.testimonials-flex__col--right {
    align-items: flex-start;
    gap: 31px;
    margin-block-start: 105px;
}

.testimonials-brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 88px;
}

.testimonials-brands__intro {
    padding-block-start: 15px;
    max-width: 445px;
    width: 100%;
}

.testimonials-brands__title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 43px;
    line-height: 133%;
    color: #18191f;
    margin: 0;
}

.testimonials-brands__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #18191f;
}

.testimonials-brands__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    row-gap: 0;
}